/* header */
#wrap {
    width: 100%;
    height: auto;
}
body {
    background-color: rgb(255, 232, 232);
}
.header {
    /* background-color: #fcc; */
}
.header .inner-header {
    display: flex;
    justify-content: center;
}
.header .inner-header .nav {
    flex: 0 1 1400px;
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(255, 217, 217); */
}
.header .inner-header .nav h1.logo {
    flex: 0 0 100px;
}
.header .inner-header .nav h1.logo img {
    width: 100%;
    height: auto;
    display: block;
}
.header .inner-header .nav .gnb {
    flex: 0 1 600px;
    /* border: 1px solid; */
    /* background-color: rgb(255, 185, 185);     */
}
.header .inner-header .nav .gnb>ul {
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
    box-sizing: border-box;
    /* background-color: #fff; */
}
.header .inner-header .nav .gnb>ul>li {
    /* border: 1px solid; */
    line-height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    position: relative;
}
.header .inner-header .nav .gnb>ul>li>a {
    background-color: inherit;
    color: inherit;
    position: relative;
    transition: all 0.2s ease-in-out;    
}
.header .inner-header .nav .gnb>ul>li:hover>a{
    color: rgb(255, 82, 82);
}
.header .inner-header .nav .gnb>ul>li>a::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 0px;
    opacity: 0;
    background-color: rgb(255, 82, 82);
    transition: all 0.2s ease-in-out;
}
.header .inner-header .nav .gnb>ul>li:hover>a::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    opacity: 1;
}
.header .inner-header .nav .gnb>ul>li ul.sub {
    display: none;
    position: absolute;
    left: 0;
    /* background-color: rgb(255, 136, 136); */
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
    z-index: 999;
}
.header .inner-header .nav .gnb>ul>li:hover ul.sub {
    display: block;
}
.header .inner-header .nav .gnb>ul>li ul.sub>li {
    color: rgb(0, 0, 0);
    line-height: 20px;
    padding: 5px 0;
    position: relative;
}
.header .inner-header .nav .gnb>ul>li ul.sub>li:hover>a {
    color: rgb(255, 82, 82);
}
.header .inner-header .nav .gnb>ul>li ul.sub>li a::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 0px;
    opacity: 0;
    background-color: rgb(255, 82, 82);
    transition: all 0.2s ease-in-out;
}
.header .inner-header .nav .gnb>ul>li ul.sub>li:hover a::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 50%;
    height: 2px;
    opacity: 1;
}